.bg-roxo {
    background-color: #7E459B;
}

a:hover {
    font-weight: bold;
}

.img_carousel {
    object-fit: cover;
    height: 500px;
}

.footer {
    background-color: #7E459B;
    color: white;
    text-align: center;
    padding: 15px 20px;
}

h1 {
    text-align: center;
}

h2 {
    font-style: italic;
    text-align: center;
}

.titulos {
    margin: 30px 50px;
}